<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>PoliJobs</title>
</head>
<body>
    <h1>PoliJobs</h1>
    <div class="container">
        <h3>Vagas Disponíveis</h3>
        <div class="card_vagas">
            <input type="text" id="filtro-vaga" placeholder="Procurar vaga">
            <ul id="lista-vagas">
                {% for vaga in vagas %}
                <li class="vaga-item">
                    <strong>{{ vaga.nome_vaga }}</strong><br>
                    Empresa: {{ vaga.empresa }}<br>
                    Local: {{ vaga.localizacao }}<br>
                    Tipo: {{ vaga.modalidade }}<br>
                    Descrição: {{ vaga.descricao }}
                    <hr>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <script src="js/script.js"></script>
</body>
</html>
